<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yannis.baselib">
    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 文件权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- bugly：升级+crash上传 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--全局弹出对话框-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!--用户访问联系人-->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--APN设置-->
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <!--设置手机振动-->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="design_width_in_dp"
            android:value="1440" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="2560" />

    </application>
</manifest>