<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cwj.exoplayerlib">

    <application>
        <service
            android:name=".server.MusicService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <activity android:name=".MediaRootActivity" />

        <provider
            android:name=".library.AlbumArtContentProvider"
            android:authorities="com.example.android.uamp.media.library.provider"
            android:exported="false" />
    </application>

</manifest>